
<!DOCTYPE html>
<html>
<head>
<title>Casualy.ad</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/res.css">
<script src="scripts/main.js"></script>
</head>
<body>
    <div id="logo"><a href="/"><img src="https://images-ext-1.discordapp.net/external/kAU6WgaeeGcLDUNum08hCawDflG_6W9R7PeYSHv9rWo/https/cdn.discordapp.com/avatars/804389994600857612/d659cb51167852321daff9596bb175c3.webp"></a></div>
    <section class="head">
        <header>
            <ul>
                <li><button onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=804389994600857612&permissions=8&scope=bot';" id="but">Dodaj Bota</button></li>
                <li><button onclick="window.location.href='https://discord.gg/T7zeXakwhD';" id="but">Serwer Support</button></li>
                <li><button id="but" disabled>Custom Linki (soon)</button></li>
                <li><button id="but">Partnerzy</button></li>
            </ul>
        </header>
    </section>
    <section class="main">
        <p id="opis">Bot stoi na stabilnej maszynie, co czyni go aktywnym <b>24/7</b>.<br>Jedynymi powodami wyłaczenia bota są <u>aktualizacje</u> i <u>restart</u><br><font color="darkorange" style="text-shadow: 0 0 1px 1px solid black;"> <b>Casualy.AD</b> </font> jest często aktualizowany - czyni go to lepiej dopracowanym.<br><br><img id="img1" src="/images/code.svg" height="200px" width="400px"><button onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=804389994600857612&permissions=8&scope=bot';" id="look">Sprawdź sam!</button></p>
        <br><br><br><br><br><br><br><br>
        <p id="stabilnosc"><font color="darkorange" style="text-shadow: 0 0 1px 1px sloid black;"> <b>Casualy.AD</b> </font> to polski, dopracowany bot reklamowy!<br>Jest on bardzo łatwy w konfiguracji, wystarczy ustawić kanał reklamowy,<br>na który bot będzie rozsyłał reklamy innych serwerów,<br>następnie trzeba ustawić reklamę swojego serwera<br>Bot wysyła wszystkie reklamy w kolejce na wszystkich jego serwerach.<br><br><img id="img1" src="/images/coding.svg" height="200px" width="400px"><button onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=804389994600857612&permissions=8&scope=bot';" id="look">Dodaj go!</button></p>
    </section>
    <section class="counters">
        <img id="img1" src="/images/community.svg" height="50px" width="70px"> Użytkownicy: <code><% osoby %></code>
        <img id="img1" src="/images/guilds.svg" height="50px" width="70px"> Serwery: <code><% serwery %></code>
        <img id="img1" src="/images/add.svg" height="50px" width="70px"> Kanały: <code><% kanaly %></code>
    </section>
    <section class="team">
        <p id="team"></p>
    </section>
    <section class="footer">
        <h3>&COPY; Casualy.AD 2021</h3>
    </section>
</body>
</html>